<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" >

    <Appenders>
        <RollingFile name="app" fileName="/data/local/log/dapp.log" filePattern="/data/local/log/log.%d{yyyy-MM-dd}">
            <PatternLayout>
                <Pattern>[%d{HH:mm:ss:SSS}] [%p] %-30.45c.%M():%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
        <console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%p] %-30.45c.%M():%L - %m%n"/>
        </console>

    </Appenders>

    <Loggers>
        <asyncRoot level="info" includeLocation="true">
            <AppenderRef ref="app"/>
            <AppenderRef ref="STDOUT"/>
        </asyncRoot>
    </Loggers>

</Configuration>