<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.snacks.mapper.EmpDefaultTypeMapper">
  <resultMap id="BaseResultMap" type="com.yc.snacks.domain.EmpDefaultType">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, emp_id, type_id, type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yc_emp_default_type
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByEmpId" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from yc_emp_default_type
      where emp_id = #{empId,jdbcType=INTEGER}
      and type_id =#{tag,jdbcType=INTEGER} limit 1
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yc_emp_default_type
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.snacks.domain.EmpDefaultType">
    insert into yc_emp_default_type (id, emp_id, type_id, 
      type_name)
    values (#{id,jdbcType=INTEGER}, #{empId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{typeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.snacks.domain.EmpDefaultType">
    insert into yc_emp_default_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="empId != null">
        emp_id,
      </if>
      <if test="typeId != null">
        type_id,
      </if>
      <if test="typeName != null">
        type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="empId != null">
        #{empId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.snacks.domain.EmpDefaultType">
    update yc_emp_default_type
    <set>
      <if test="empId != null">
        emp_id = #{empId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        type_name = #{typeName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.snacks.domain.EmpDefaultType">
    update yc_emp_default_type
    set emp_id = #{empId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=INTEGER},
      type_name = #{typeName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>