<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.snacks.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.yc.snacks.domain.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
    <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, order_status, order_amount, goods_num, create_time, update_time, order_id
  </sql>
  <select id="selectLatestOrderByGroupId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from yc_order
    where group_id = #{groupId,jdbcType=INTEGER}
    order by create_time desc limit 1
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yc_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByGroupId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from yc_order
    where group_id = #{groupId,jdbcType=INTEGER}
    and order_status = #{orderStatus,jdbcType=INTEGER}
    limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yc_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updateOrderStatus" parameterType="java.lang.Integer">
    update yc_order set order_status = #{status,jdbcType=INTEGER}
    where id = #{orderId,jdbcType=INTEGER}
  </update>
  <insert id="insert" parameterType="com.yc.snacks.domain.Order">
    insert into yc_order (id, group_id, order_status, 
      order_amount, goods_num, create_time, 
      update_time, order_id)
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{orderStatus,jdbcType=INTEGER}, 
      #{orderAmount,jdbcType=DECIMAL}, #{goodsNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{orderId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.snacks.domain.Order" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into yc_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="orderAmount != null">
        order_amount,
      </if>
      <if test="goodsNum != null">
        goods_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null">
        #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.snacks.domain.Order">
    update yc_order
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderAmount != null">
        order_amount = #{orderAmount,jdbcType=DECIMAL},
      </if>
      <if test="goodsNum != null">
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.snacks.domain.Order">
    update yc_order
    set group_id = #{groupId,jdbcType=INTEGER},
      order_status = #{orderStatus,jdbcType=INTEGER},
      order_amount = #{orderAmount,jdbcType=DECIMAL},
      goods_num = #{goodsNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      order_id = #{orderId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>